<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 1</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" mat-button>Categorie 2</button>
          
          <div class="mega-box">
            <mat-card>
              <div class="content">
                <div class="row-menu">
                  <header>Sub Title</header>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                  </ul>
                </div>
                <div class="row-menu">
                  <header>Sub Title</header>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                  </ul>
                </div>
              </div>
            </mat-card>
           
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 5</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" mat-button >Categorie 6</button>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 7</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categorie 9</a>
        </li>
      </ul>
    </div>
  </div>
</div>
