<div class="container">
  <div class="row">
    <div>
        <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Categorie 1 </mat-card-title>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Categorie 2</mat-card-title>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title> Categorie 3</mat-card-title>
                <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
              </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
   <div>
    <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Categorie 4</mat-card-title>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
    </mat-card>
   </div>
   <div>
    <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Categorie 5</mat-card-title>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
    </mat-card>
   </div> 
   <div>
    <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Categorie 6</mat-card-title>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
    </mat-card>
   </div>
   <div>
    <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title> Categorie 7</mat-card-title>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
    </mat-card>
   </div>
</div>

</div>
